body{
	margin: 0;
	font-family: sans-serif;
}
.container{
	width: 100% !important;
}
.add-margin{
	margin-top:0px;
}
.logo{
	margin-top:10px;
}
.add-margin-60{
	margin-top:80px;
}
.decrease-padding{
	padding-left: 2px;
	padding-right: 2px;
}
.game-container{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto
}
.absolute{
	position: absolute;
	top: 10px;
	z-index: 1;
}
.fa-full{
	font-size: 18px;
	padding: 5px 5px 5px 20px;
	color: #fff;
	background: rgba(245, 0, 0, 0.5);
}
.bg-game{
	background: #fff;
}
.game-box{
	float: left;
	margin-bottom: 5px;
}
.game-image{
	width: 100%;
}
.btn{
	padding: 6px 14px;
	font-size: 15px;
	color: #fff !important;
	text-align: center;
	float: left;
	border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.pull-right{
	float: right;
	margin-top: 12px;
}
.btn-daftar{
	background: #3a76cc;
	color:#fff;
}
.btn-real-play{
	background: #3d942b;
}
.btn-free-play{
	background: #b80039;
	width: 100%;
	font-size: 12px;
	border-radius: 0px;
}
.btn-mainkan{
	background: #b80039;
	color: #fff;
	position: absolute;
	bottom: 35px;
    right: 45px;
	padding: 5px 8px;
	font-size: 18px;
}
.title{
	margin: 0px;
	padding-top: 30px;
	color:#fff;
}
.game-panel{
	height: 80%;
	max-height: 100px;
	background: #b80039;
	margin: 0;
	padding: 0;
}
.panel-text{
	color: #fff;
	font-size: 15px;
	margin-top: 10px;
}
.header{
	height: 80%;
	max-height: 62px;
	background: #000;
	position: fixed;
	z-index: 100;
	width: 100%;
	border-bottom:2px solid #b80039;
}
.navigation{
	padding-top: 30px;
	width: 588px;
	margin: 0 auto;
}
.navigation li{
	list-style: none;
	float: left;
}
.menu{
	text-decoration: none;
	padding: 10px 40px;
	color: #fff;
	font-size: 33px;
}
.item{
	margin-top: 60px;
}
.input{
	height: 27px;
	border-radius: 2px;
	font-size: 14px;
	margin-bottom: 4px;
}
.slide-image{
	width: 100%;
}
.login_popup{
	display: none;
}
#cboxClose{
	position: absolute;
	margin-top: 24px;
	margin-right: 3px;
}
.title_register{
	text-align: center;
	color:#fff;
}
.col-form-label{
	color:#fff;
}
.title_register_text{
	margin-top: 2px;
	font-size: 18px;
}
.width{
	width: 90%;
	margin:0 auto;
}
.form-group{
	margin-bottom: 5px;
}
.label-size{
	font-size:  20px;
}
.full-width{
	width: 100%;
	
}
.validation_message1{
	display:none;height:40px;color:red;
}
.validation_message2{
	display:none;height:20px;color:red;
}
.validation_message3{
	display:none;color: red;
}
.validation_message4{
	display:none;color: red;margin-bottom:10px;
}
.bg-padding{
	padding: 20px 10px;
	background: #000;
	border:1px solid #b80039;
}
.spacer{
	clear:  both; 
	height:   0px;
}
.landscape{
	display: none;
}
.portrait{
	display: block;
}
.myFrame{
	width: 100%;
	height: 100%;
	max-height: 720px;
	min-height: 320px;
}
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px; 
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none; 
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default; 
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 10px; 
}

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline; 
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px; 
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #869791; 
}
.col-xs-4 {
	width: 33.33%;
}
.field-separator{
	float: left;
	width: 100%;
}
.button-holder{
	margin-left: 0px;
	margin-top: 0px;
}
.iframe-container{
	display: none;
}
.rotate-mask{
	height: 100%;
	width: 100%;
	background: #000;
}
.center{
	width: 116px;
	margin: 35% auto 0px;
}
.instruction{
	color: #b80039;
	font-size: 15px;
	margin-top: 5px;
}
.loading-mask{
	display: none;
	background: rgba(0,0,0,.7);
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 100%;
}
.loading-image{
	width: 60px;
    margin: 25% auto;
}
.loading-image span{
	color: #fff;
}
.addPadding{
	padding: 20px 20px 20px 0px;
}
body{
	background: #000;
}
:-webkit-full-screen{
	width: 	100%;
	height: 100%;
}
.myFrame{
	-moz-transform: scale(1, 1); 
	-webkit-transform: scale(1, 1); 
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1); 
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}
@media screen and (min-width:414px) and (min-height: 736px){
	.btn-mainkan{
			background: #b80039;
			color: #fff;
			position: absolute;
			bottom: 50px;
			right: 56px;
			padding: 5px 8px;
			font-size: 18px;
		}
}
@media screen and (max-width:375px) and (min-height: 667px){
	.btn-mainkan{
		background: #b80039;
		color: #fff;
		position: absolute;
		bottom: 40px;
		right: 47px;
		padding: 5px 8px;
		font-size: 18px;
	}
}
@media screen and (min-width:600px) and (min-height: 900px){
	.btn-mainkan{
		background: #b80039;
		color: #fff;
		position: absolute;
		bottom: 105px;
		right: 110px;
		padding: 7px 15px;
		font-size: 32px;
	}
}
@media screen and (max-width:569px) and (max-height:350px){
	/*.myFrame{
		width: 100%;
		height: 100%;
		max-height: 720px;
		min-height: 375px;
		}*/

	.btn-mainkan{
		background: #b80039;
		color: #fff;
		position: absolute;
		bottom: 15px;
		right: 23px;
		padding: 3px 12px;
		font-size: 16px;
	}
}
@media screen and (min-width:665px) and (max-height:400px){
	/*.myFrame{
		width: 100%;
		height: 100%;
		max-height: 720px;
		min-height: 375px;
		}*/

	.btn-mainkan{
		background: #b80039;
		color: #fff;
		position: absolute;
		bottom: 15px;
		right: 23px;
		padding: 5px 18px;
		font-size: 18px;
	}
}
	
/* device 720px higher*/
@media screen and (min-width:720px) and (max-width:736px){
	/*.myFrame{
		width: 100%;
		height: 100%;
		max-height: 720px;
		min-height: 414px;
	}*/

}
/* mobile landscape*/
@media screen and (min-width:500px) and (max-width:750px){
	.landscape{
		display: block;
	}

	.portrait{
		display: none;
	}
	.rotate-mask{
		display: none;
	}
	.iframe-container{
		display: block;
	}
	.col-xs-4 {
		width: 25%;
	}
	
}
/* tablet protrait*/
@media screen and (min-width:760px) and (max-width:999px){
	.landscape{
		display: none;
	}
	.portrait{
		display: block;
	}
	.rotate-mask{
		display: block;
	}
	.iframe-container{
		display: none;
	}
}
/* tablet landscape */
@media screen and (min-width:1000px){
	.landscape{
		display: block;
	}
	.portrait{
		display: none;
	}
	.col-xs-4 {
		width: 25%;
	}
	.rotate-mask{
		display: none;
	}
	.iframe-container{
		display: block;
	}

	.myFrame{
		width: 100%;
		height: 100%;
		max-height: 900px;
		min-height: 705px;
	}
	.btn-mainkan{
		background: #b80039;
		color: #fff;
		position: absolute;
		bottom: 15px;
		right: 23px;
		padding: 8px 18px;
		font-size: 22px;
	}
}

